.ItemCount--container {
  text-align: center;
  font-weight: bold;
}
.ItemCount--buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.ItemCount {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.ItemCount--signo {
  color: #007acc;
  font-size: 1.5rem;
}
.ItemCount--button {
  width: 10rem;
  height: 2.3rem;
  border-radius: 0.3rem;
  color: #007acc;
  border-color: transparent;
  background-color: rgba(65, 137, 230, 0.15);
}
.ItemCount--button:hover {
  background-color: rgba(37, 104, 190, 0.15);
}
