.Footer--contain {
  display: flex;
  gap: 2rem;
  justify-content: center;
  padding: 3rem 0 2rem 1rem;
}
.Footer--division {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  padding-right: 1rem;
  border-right: solid 1px #707070;
}
.Footer--division p {
  color: #707070;
}
.Footer--division a {
  color: #707070;
  text-decoration: none;
}
.Footer--division a:hover {
  color: #3aadad;
}
.Footer--title {
  font-size: 1.2rem;
}

.FooterR {
  text-align: center;
  background-color: #000;
  color: #fff;
  padding: 0.5rem 0;
}
.FooterSTore {
  color: #000;
  background-color: #fff;
  font-weight: bold;
  padding: 0.2rem;
  font-size: 0.78rem;
  border-radius: 0.2rem;
}
.FooterDesign {
  cursor: pointer;
  text-decoration: none;
  color: #fff;
}
.FooterDesign:hover {
  color: #3aadad;
}
